@using ElectronicElections.Infrastructure.Models
@model IEnumerable<PoliticalPartyModel>

@{ ViewData["Title"] = "Elections"; }

@{ 
    var cardGroupClass = Model.Count() > 1 ? "card-group" : string.Empty;
}

<div class="@cardGroupClass">
    @foreach (var politicalParty in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@Url.Content(politicalParty.LogoLink)" height="250" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@politicalParty.Name</h5>
                <p class="card-text">@politicalParty.Description</p>
                <h5>@Html.DisplayNameFor(model => model.FirstOrDefault().WikiLink) <a href="@politicalParty.WikiLink" target="_blank">тук</a>.</h5>
                @Html.ActionLink("Избери", "Vote", "Voting", new { electionType = ViewData["ElectionsType"], politicalPartyId = politicalParty.Id }, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>


