@using ElectronicElections.Infrastructure.Models
@model VoteModel

@{ ViewData["Title"] = "Vote"; }

<div class="card mb-3" style="max-width: 82%">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="@Url.Content(Model.Candidate.ImgLink)" class="card-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Тип на изборите : @Model.ElectionTypeName</h5>
                <p class="card-text">Гласуване за : @Model.Candidate.Name</p>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm("POST", "Voting", FormMethod.Post, new { id = "vote-form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ElectionType)
    @Html.HiddenFor(m => m.CandidateId)
    @Html.HiddenFor(m => m.VoterIp)
    @Html.ValidationMessageFor(model => model.VoterIp)

    <div class="form-group">
        @Html.LabelFor(x => x.VoterFirstName, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.ValidationMessageFor(model => model.VoterFirstName)
            @Html.TextBoxFor(x => x.VoterFirstName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.VoterLastName, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.ValidationMessageFor(model => model.VoterLastName)
            @Html.TextBoxFor(x => x.VoterLastName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.VoterEmail, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.ValidationMessageFor(model => model.VoterEmail)
            @Html.TextBoxFor(x => x.VoterEmail, new { @class = "form-control", placeholder = "example@gmail.com" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.VoterAge, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.ValidationMessageFor(model => model.VoterAge)
            <select class="form-control" id="exampleFormControlSelect1" name="VoterAge">
                @for (int i = 18; i <= 120; i++)
                {
                    <option>@i</option>
                }
            </select>
        </div>
    </div>

    <input id="add-article-button" type="submit" class="btn btn-success" value="Гласувай!" />
}